/* --------------------------------------------- */
/* -------------------- BASICS ----------------- */
/* --------------------------------------------- */

body {
	background-color: #EFF8FB;
}

.page-content {
	margin-top: 60px;
}


/* --------------------------------------------- */
/* -------------------- CTAS ------------------- */
/* --------------------------------------------- */

.cta-row {
	text-align: center;
	font-weight: bolder;	
}

.cta-row .btn-lg{
	padding: 30px 0;
	font-size: 1.35em;
}

.btn-link {
	font-weight: bolder;
}

/* --------------------------------------------- */
/* ------------------ SECTIONS ----------------- */
/* --------------------------------------------- */

.section-header {
	text-align: center;
	line-height: 1.4;
	padding: 30px 60px;
}

.section-row {
	border-bottom: 4px solid #337AB7;
	min-height: 300px;
}


/* --------------------------------------------- */
/* ---------------- HOME SECTION --------------- */
/* --------------------------------------------- */

.home-row {
	text-align: center;
	padding: 20px 60px;
}

.home-row h1 {
	font-size: 3.5em;
	line-height: 1.4;
	margin-bottom: 15px;
}

.home-row .icons-row {
	padding: 40px 0;
}

.home-row .icons-row i {
	font-size: 9.5em;
	margin: 0 20px;
}

.home-row h3 {
	margin: 0;
	padding: 0;
}

.home-row .btn {
	margin-top: 20px;
	font-size: 1.35em;
}

/* --------------------------------------------- */
/* ------------- DIFFERENTIATION --------------- */
/* --------------------------------------------- */

.difference-row,
.word-carousel-row {
	max-width: 1080px;
	margin: 0 auto;
}

.difference-container {
	text-align: center;
	padding: 30px 5px;
}

.difference-container i {
	font-size: 4em;
}

.difference-container p {
	padding-top: 15px;
	font-size: 1.25em;
}

/* Slideshow */
.word-carousel-row {
	position: relative; 
	overflow: auto;
	padding: 30px 60px;
	min-height: 120px;
}

.word-carousel-row li { 
	list-style: none; 
}

.word-carousel-row ul li { 
	float: left; 
}

.word-carousel {
	text-align: center;
	font-size: 2em;
}

.word-carousel .keyword {
	font-weight: bold;
}

.word-carousel.active {
	display: block;
}


/* --------------------------------------------- */
/* ------------------- WORK -------------------- */
/* --------------------------------------------- */

.work-example {
	border-bottom: 1px solid grey;
	vertical-align: center;
	padding: 20px 0;
}

.work-example:last-child {
	border-bottom: none;
}

.work-example h3 {
	margin: 0;
	margin-bottom: 10px;
}

.work-example p {
	font-size: 1.1em;
}

.icon-col {
	text-align: center;
}

.icon-col  i {
	font-size: 6em;
}

.label {
	font-size: 0.9em;
	position: relative;
	top: -2px;
}


/* --------------------------------------------- */
/* ----------------- SERVICES ------------------ */
/* --------------------------------------------- */

.service-col {
	text-align: center;
	padding: 0 20px;
}

.service-col:first-child {
	padding-left: 40px;
}

.service-col:last-child {
	padding-right: 40px;
}

.service-col .panel {
	padding: 15px 20px;
}

.service-header-row {
	padding-bottom: 15px;
}

.service-col i {
	font-size: 6em;
	padding: 20px 0px;
}

.service-col p {
	font-size: 1.25em;
	font-style: italic;
}

.service-col ul {
	list-style: none;
	margin: 0;
	padding: 20px 0 5px 0;
	border-top: 2px solid grey;
}

.service-col ul li {
	padding: 10px 0;
	border-bottom: 1px solid #D8D8D8;
}

.service-col ul li:last-child {
	border-bottom: none;
}


/* --------------------------------------------- */
/* ------------------ CONTACT ------------------ */
/* --------------------------------------------- */

.btn-submit {
	width: 100%;
}

.alert {
	text-align: center;
	padding: 40px 30px;
}

.alert i {
	font-size: 6em;
	padding: 20px 0px;
}

.alert p {
	font-size: 1.25em;
}

.contact-row .alert {
	display:none;
}

